.imagemBotao button{
    background-color: #6278F7;
    border: none;
    padding: 6px;
    border-radius: 6px;
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FFF;
    cursor: pointer;
    transition: all 0.3s ease;
}

.botaoImagem button:hover{
    color: #95FFD4;
}